*,
*::before,
*::after {
  box-sizing: border-box;
  max-width: 1920px;
}

body {
  margin: 0;
}

.page1 {
  margin: 0 auto;
  background-color: #fcefe9;
  padding-bottom: 100px;
  max-height: 999px;
}

nav {
  display: flex;
  padding: 8px 100px;
  justify-content: space-between;
  align-items: center;
  height: 114px;
  /* width:1170px; */
  /* transform: translate(375px) ; */
}

.nav1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "volkhov";
  font-size: 24px;
  font-weight: bold;
}

.logoimg {
  padding: 5px 10px;
}

.nav2 ul li {
  list-style-type: none;
  padding: 0px 18px;
  font-family: "poppins";
  font-size: 16px;
}

.nav2 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav3 {
  display: flex;
  align-items: center;
  font-family: "poppins";
  font-size: 16px;
  font-weight: 10px;
}

.log {
  padding: 0px 40px;
  color: #fa7436;
}

.btn-orange {
  background-color: #fa7436;
  color: white;
  font-family: "poppins";
  font-size: 16px;
  font-weight: 10px;
  border-radius: 5px;
  border: 0cap;
  height: 50px;
  width: 160px;
}

.headblack {
  font-family: "volkhov";
  font-size: 64px;
  font-weight: bold;
  color: #222222;
}

.headorange {
  font-family: "volkhov";
  font-size: 64px;
  font-weight: bold;
  color: #fa7436;
}

.p1center {
  display: flex;
  /* transform: translate(375px) ; */
}

.p1left {
  height: 486px;
  width: 521px;
}

.p1head {
  height: 210px;
  width: 521px;
  margin: 8px 110px;
  line-height: 70px;
}

.p1para {
  font-family: "poppins";
  font-size: 20px;
  line-height: 40px;
  color: #666666;
  height: 120px;
  width: 497px;
  margin: 60px 110px;
}

.btnwhite {
  height: 60px;
  width: 178px;
  background-color: white;
  color: #fa7436;
  font-family: "poppins";
  font-size: 18px;
  border-radius: 5px;
  border-style: solid;
  border-color: #fa7436;
  line-height: 32px;
  position: relative;
  left: 110px;
}

.p1right img {
  position: relative;
  transform: translate(200px, 0px);
}

.p1box {
  height: 124px;
  width: 841px;
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 300px;
  border-style: solid;
  border-color: #f6f5f5;
}

.p1boxhead {
  font-family: "poppins";
  font-size: 16px;
  color: #222222;
  font-weight: normal;
  line-height: 26px;
}

.p1boxpara {
  font-family: "poppins";
  font-size: 12px;
  color: #666666;
  font-weight: normal;
  line-height: 24px;
}

.arworange {
  color: #fa7436;
}

/* PAGE 2 */

.page2 {
  background-color: #f7f8fc;
  /* width:1920px; */
  max-height: 724px;
}

/* .p2content{
  max-height: 484px;
  max-width: 1170px;
} */

.page2content {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  /* margin-top: 40px; */
}

.p2headblack {
  font-family: "volkhov";
  font-size: 48px;
  font-weight: bold;
  color: #222222;
  line-height: 54px;
  text-align: center;
}

.p2headorange {
  font-family: "volkhov";
  font-size: 48px;
  font-weight: bold;
  color: #fa7436;
  line-height: 54px;
  text-align: center;
}

.page2para {
  height: 64px;
  width: 482px;
  line-height: 32px;
  font-family: "poppins";
  font-size: 18px;
  font-weight: normal;
  color: #666666;
  text-align: center;
}

.page2box {
  display: flex;
  justify-content: space-evenly;
  height: 484px;
  margin: 0px 180px;
}

.page2img {
  padding-left: 50px;
}

.p2bg {
  position: absolute;
  top: 1260px;
}

.p2box {
  height: 278px;
  width: 370px;
  margin: 10px 50px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #f6f5f5;
}

.p2boxhead {
  font-family: "poppins";
  font-size: 24px;
  color: #222222;
  font-weight: 500px;
  line-height: 34px;
}

.p2boxpara {
  font-family: "poppins";
  font-size: 16px;
  color: #666666;
  font-weight: normal;
  line-height: 26px;
  position: relative;
}

/* PAGE 3 */

.page3 {
  margin: 0 auto;
  background-color: #fcefe9;
  max-height: 999px;
  padding: 10px;
}

.page3box {
  padding: 10px 150px;
  display: flex;
  justify-content: space-between;
}

.p3box {
  height: 426px;
  width: 270px;
  background-color: #ffffff;
  border-radius: 10px;
}

.p3boxhead {
  font-family: "poppins";
  font-size: 16px;
  color: #222222;
  font-weight: normal;
  line-height: 26px;
}

.p3boxpara {
  font-family: "poppins";
  font-size: 12px;
  color: #666666;
  font-weight: normal;
  line-height: 26px;
}

.p3boxcontent1 {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  position: relative;
  height: 46px;
  width: 238px;
}

.p3boxcon1inside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 0px 10px; */
  position: relative;
  top: 12.5px;
  right: 5px;
}

.star {
  position: relative;
  top: 12.5px;
  right: 8px;
}

.p3c1rate {
  position: relative;
  /* top:1.5px; */
  right: 2px;
  bottom: 2.5px;
}

.location {
  position: relative;
  top: 17.5px;
  left: 8px;
}

.p3c2word {
  position: relative;
  /* top:1.5px; */
  left: 15px;
  bottom: 5.5px;
}

.p3boxcontent2 {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  height: 26px;
  width: 238px;
}

.p3boxcon21inside {
  display: flex;
  flex-direction: row;
  padding: 0px 15px;
}

.p3boxcon22inside {
  display: flex;
  flex-direction: row;
  padding-left: 25px;
}

.oldcost {
  text-decoration: line-through;
}

.newcost {
  width: 42px;
  height: 25px;
  color: #fa7436;
  background-color: #ffe7db;
  padding: 0px 5px;
  border-radius: 8px;
  font-weight: bold;
}

.p3c2rate1 {
  position: relative;
  /* top:1.5px; */
  left: 1px;
  bottom: 5.5px;
}

.p3c2rate2 {
  position: relative;
  /* top:1.5px; */
  right: -10px;
  bottom: 5.5px;
}

.p3box {
  position: relative;
  /* width: 50%; */
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.p3box:hover .image {
  opacity: 0.3;
}

.p3box:hover .middle {
  opacity: 1;
}

.text {
  background-color: #fa7436;
  height: 50px;
  width: 132px;
  font-family: "poppins";
  line-height: 32px;
  color: white;
  font-size: 18px;
  padding: 10px 12px;
  border-radius: 10px;
}

.page3arrow {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: center;
  position: relative;
  top: 15px;
}

/* PAGE 4 */

.page4 {
  margin: 0 auto;
  background-color: #faf8f7;
  max-height: 999px;
  /* padding: 10px; */
}

.page4arrow {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: end;
  position: relative;
  left: -280px;
}

.page4box {
  padding: 0px 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.p4box {
  height: 347px;
  width: 269px;
  background-color: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #f6f5f5;
}

.p4img1 {
  position: relative;
  left: -53px;
}
.p4img2 {
  position: relative;
  left: 2px;
}

.p4box2head1 {
  font-family: "poppins";
  font-size: 18px;
  color: #222222;
  font-weight: 400px;
  line-height: 32px;
  position: relative;
  /* top: 0px; */
  left: 20px;
}
.p4box2head2 {
  font-family: "poppins";
  font-size: 18px;
  color: #fa7436;
  font-weight: 400px;
  line-height: 32px;
  position: relative;
  /* top: -128px; */
  left: -20px;
}

.p4img3 {
  position: relative;
  left: 2px;
}

.p4box3head1 {
  font-family: "poppins";
  font-size: 18px;
  color: #222222;
  font-weight: 400px;
  line-height: 32px;
  position: relative;
  /* top: 0px; */
  left: 20px;
}
.p4box3head2 {
  font-family: "poppins";
  font-size: 18px;
  color: #fa7436;
  font-weight: 400px;
  line-height: 32px;
  position: relative;
  /* top: -128px; */
  left: -20px;
}

.p4boxcontent {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.p4boxhead {
  display: flex;
  justify-content: space-between;
}

.p4boxhead1 {
  font-family: "poppins";
  font-size: 18px;
  color: #222222;
  font-weight: 400px;
  line-height: 32px;
  position: relative;
  top: -130px;
  left: 20px;
}
.p4boxhead2 {
  font-family: "poppins";
  font-size: 18px;
  color: #fa7436;
  font-weight: 400px;
  line-height: 32px;
  position: relative;
  top: -128px;
  left: -20px;
}

.p4boxpara {
  font-family: "poppins";
  font-size: 12px;
  color: #666666;
  font-weight: normal;
  line-height: 26px;
}

.p4boxcon1 {
  display: flex;
}

.p4boxcon2 {
  display: flex;
}

.p4c1w1 {
  position: relative;
  top: -158px;
  left: 15px;
}

.p4loc {
  position: relative;
  top: -142px;
  left: 10px;
}

.p4star {
  position: relative;
  top: -135px;
  right: 8px;
}

.p4c2rate {
  position: relative;
  top: -158px;
  right: 8px;
  padding-left: 8px;
}

.p4box2con1 {
  display: flex;
}

.p4box2con2 {
  display: flex;
}

.p4b2c1w1 {
  position: relative;
  top: -30px;
  left: 15px;
}

.p4b2loc {
  position: relative;
  top: -15px;
  left: 10px;
}

.p4b2star {
  position: relative;
  top: -5px;
  right: 8px;
}

.p4b2c2rate {
  position: relative;
  top: -28px;
  right: 8px;
  padding-left: 8px;
}
.p4box3con1 {
  display: flex;
}

.p4box3con2 {
  display: flex;
}

.p4b3c1w1 {
  position: relative;
  top: -30px;
  left: 15px;
}

.p4b3loc {
  position: relative;
  top: -15px;
  left: 10px;
}

.p4b3star {
  position: relative;
  top: -5px;
  right: 8px;
}

.p4b3c2rate {
  position: relative;
  top: -28px;
  right: 8px;
  padding-left: 8px;
}

/* PAGE 5 */

.page5 {
  background-color: #f7f8fc;
  /* width:1920px; */
  height: 596px;
  /* margin-top: 200px; */
  padding-top: 50px;
}

.p5bgimg {
  position: relative;
  left: 1500px;
  top: -800px;
}

.page5left {
  position: relative;
  height: 268px;
  width: 394px;
  margin-top: 120px;
  margin-left: 250px;
}

.page5para {
  height: 64px;
  width: 482px;
  line-height: 32px;
  font-family: "poppins";
  font-size: 18px;
  font-weight: normal;
  color: #666666;
  text-align: left;
}

.page5arrow {
  display: flex;
  flex-direction: row;
  padding: 30px;
  justify-content: start;
  position: relative;
  left: -00px;
}

.page5chris {
  background-color: rgb(255, 253, 253);
  height: 232px;
  width: 452px;
  opacity: 0.8;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  top: -210px;
  left: 950px;
}

.p5cw1 {
  font-family: "poppins";
  font-size: 18px;
  font-weight: normal;
  color: #666666;
  text-align: left;
  font-weight: bold;
  padding-left: 20px;
  position: relative;
  top: 30px;
}

.p5cw2 {
  font-family: "poppins";
  font-size: 14px;
  font-weight: normal;
  color: #666666;
  text-align: left;
  padding-left: 20px;
  position: relative;
}

.page5mike {
  background-color: rgb(255, 252, 252);
  height: 232px;
  width: 502px;
  opacity: 0.8;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  top: -520px;
  left: 850px;
}

.p5mimg {
  position: relative;
  top: 10px;
  left: -20px;
}

.p5cp {
  font-family: "poppins";
  font-size: 16px;
  font-weight: normal;
  color: #666666;
  text-align: left;
  /* font-weight: bold; */
  padding-left: 20px;
  /* position: relative;
  top: 30px; */
}

.p5cw3 {
  font-family: "poppins";
  font-size: 18px;
  font-weight: normal;
  color: #222222;
  text-align: left;
  font-weight: bold;
  padding-left: 20px;
  position: relative;
  top: 10px;
}

.p5cw4 {
  font-family: "poppins";
  font-size: 14px;
  font-weight: normal;
  color: #666666;
  text-align: left;
  padding-left: 20px;
  position: relative;
  top: -10px;
}

/* PAGE 6 */

.page6 {
  height: 805px;
}

.page6head {
  margin-top: 70px;
  text-align: center;
}

.page6box {
  padding: 10px 100px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.p6box {
  height: 388px;
  width: 270px;
  background-color: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #f6f5f5;
}

.p6c1 {
  font-family: "poppins";
  font-size: 16px;
  font-weight: normal;
  color: #222222;
  text-align: left;
  font-weight: 600px;
  padding-left: 10px;
  position: relative;
  top: 0px;
}

.p6c2 {
  font-family: "poppins";
  font-size: 12px;
  font-weight: normal;
  color: #666666;
  text-align: left;
  font-weight: 600px;
  padding-left: 10px;
  position: relative;
  top: -5px;
}

.p6dot {
  text-align: center;
  position: relative;
  top: 30px;
}

/* PAGE 7 */

.page7 {
  max-height: 898px;
  display: flex;
  justify-content: center;
  background-color: #f7f8fc;
}

.p7bg {
  background-color: #fa7436;
  height: 416px;
  width: 1170.25px;
  border-radius: 10px;
  margin-top: 0px;
}

.p7bg1 {
  position: relative;
  top: 58px;
}

.p7bg2 {
  position: relative;
  top: -238px;
  left: 550px;
}

.p7hw {
  text-align: center;
  height: 124px;
  width: 708px;
  font-family: "volkhov";
  font-size: 48px;
  font-weight: bold;
  line-height: auto;
  color: #ffffff;
  position: relative;
  top: -350px;
  left: 250px;
}

.p7inputbox {
  width: 674px;
  height: 58px;
  background-color: white;
  border-color: #ffffff;
  border-style: solid;
  position: relative;
  top: -350px;
  left: 250px;
  border-radius: 5px;
  font-family: "poppins";
  font-size: 14px;
  padding-left: 68px;
}

.p7mail {
  position: relative;
  top: -348px;
  left: -390px;
}

.p7sub {
  width: 132px;
  height: 48px;
  background-color: #fa7436;
  color: #ffffff;
  font-family: "poppins";
  font-size: 14px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  top: -418px;
  left: 780px;
}

/* FOOTER */

footer {
  background-color: #f7f8fc;
  display: flex;
  justify-content: space-around;
}

.foot1content {
  height: 176px;
  width: 354px;
  /* padding-left: 100px; */
  margin: 80px 10px;
}

.footerc1 {
  display: flex;
  font-family: "volkhov";
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}

.footlogoimg {
  position: relative;
  top: 25px;
  left: 10px;
}

.wcircle {
  height: 40px;
  width: 42px;
  border-radius: 20px;
  background-color: #ffffff;
  position: relative;
  top: 10px;
  padding: 15px;
  align-items: center;
}

.ocircle {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #fa7436;
  position: relative;
  top: 10px;
  padding: 12px;
  align-items: center;
  color: #ffffff;
}

.footerc2 {
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  left: -80px;
}

.footpara {
  font-family: "poppins";
  font-size: 18px;
  line-height: 26px;
}

h4 {
  font-family: "poppins";
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.footerc2 ul li {
  font-family: "poppins";
  font-size: 16px;
  line-height: 32px;
  /* font-weight: bold; */
  list-style-type: none;
  text-align: left;
  padding: 0px 20px;
}

hr.new4 {
  border: 1px solid #999999;
}

.last {
  display: flex;
  justify-content: space-between;
}

.lastp {
  color: #666666;
  font-family: "poppins";
  font-size: 16px;
  margin: 0px 180px;
  padding: 10px 20px;
}
